.contentItems{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #e7e4e4;
  margin-top: 20px;
  padding-top:20px;
  text-align: center;
  position: relative;

  .items{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .btnPlayList{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 130px;
    height: 50px;
    border: none;
    background: #cccccc;
    border-radius: 20px;
    cursor: pointer;
  }
 
  }

  .contentSalve{
    margin-top: 10px;
    width: 70%;
    display:flex;
    justify-content: center;
  
    .btnSalve{
      font-size: 20px;
      padding:5px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 150px;
      border: none;
      background: #cccccc;
      border-radius: 54px;
      cursor: pointer;
    } 
  }
   
}

@media screen and (max-width:360px){
  button.btnPlayList{
    font-size: 10px;
  }
  
}




