body{
  display: flex;
  justify-content: center;
  align-items: center;

}
.contentWrapper{
  width: 110vh;
  height: 95vh;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 10px;
  overflow:auto;
  box-shadow: 0 0 20px #cccccc;
  position: relative;

  @media screen {
    @media (max-width:636px) {
      width:90vh;
    }
    @media(max-width:522px){
      width:80vh;
    }
    @media (max-width:462px){
      width:50vh;
    }
  }
 
  h1{
    text-align: center;
    font-size: 35px;
    
    @media screen and (max-width:462px){
      font-size: 22px;
    }
  }

  .noRoute{
    text-align: center;
    margin-top: 20px;
  }

}






