.hide_modal{
  display: none;
}

.modal_container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.137);
  position:fixed;
  top:0;
  left: 0;
  display:flex;
  justify-content:center;
  align-items: center;

  .modal{
    width: 20%;
    height:18%;
    background-color: #eceaea;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70%;

    
    button{
      font-size: 80%;
      margin-top: 10px;
      border:none;
      padding:5px;
      background: #adadad;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}