hr{
  margin:10px 0;
  border: 1px solid #000;
}

.btnBack{
  font-size:40px;
  position:absolute;
  top: 35px;
  left: 7px;
  cursor: pointer;
  color: black;

  @media screen{ 
    @media (max-width:906px){
      font-size:35px;  
      top: 20px;
    }
    @media (max-width:498px){
      font-size:30px;  
      top: 25px;
    }
  }

}

.contentList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  margin-bottom: 20px;

  .listItems{
    list-style: none;
    margin: 10px;
    border: 2px solid #000;
    padding: 4px;

    .btnDelete{
      margin-top: 5px;
      font-size:30px;
      cursor: pointer;

      
   }
    
  }


}